html,body{
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    justify-content: center;
}

#board{
    flex:0.75;
    align-self: center;
    display: grid;
    grid-template-columns: repeat(3,3cm);
    grid-template-rows: repeat(3,3cm);
    justify-content: center;
}