html,body{
    height: 95%;
    width: 98%;
}

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding:0.25cm;
}

#upperBar{
    flex:0.25;
    display: flex;
    justify-content: space-between;
}

.nameChange{
    border: none;
    color: white;
    font-weight: normal;
    font-size: 0.6em;
    max-width: 2.5cm;
    overflow: hidden;
    border-radius: 10px;
    background-color: orange;
}
.nameChange:focus{
    background-color: red;
}

#board{
    flex:0.75;
    align-self: center;
    display: grid;
    grid-template-columns: repeat(3,3cm);
    grid-template-rows: repeat(3,3cm);
    justify-content: center;
}

#b0,#b1,#b2{
    border-top:none;     
}

#b6,#b7,#b8{
    border-bottom: none;
}
#b8,#b2,#b5{
    border-right:none;
}
#b3,#b0,#b6{
    border-left:none;    
}

button{
    border:solid black;
    color:white;
    font-weight: bolder;
    font-size: larger;
}

#startGame{
    display: flex;
    justify-content: center;
}
#starting{
    color:black;
    font-weight: 500;
}